# python
*.py[co]

# vim
*.sw[op]

# mac
._*
__MACOSX
.DS_Store

# win
*~
Thumbs.db
desktop.ini

# build stuff
bin/*.app

# stuff for xcode just in case
build/
*.pbxuser
!default.pbxuser

*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
*.xcworkspace
!default.xcworkspace
xcuserdata
profile
*.moved-aside
DerivedData
.idea/

# object files on windows
obj/
/*.suo